body {
  margin: 0;
}

h2,
li,
#scores,
#result,
#panic {
  text-align: center;
}

#choices {
  display: flex;
  justify-content: center;
  padding: 8px;
  flex-wrap: wrap;
}

.choice {
  padding: 8px;
  margin: 10px;
}

#scores,
#result,
#panic,
.score {
  padding: 4px;
}

#reset-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60vh;
}

/*/ 
#reset-container,
#btn-holder {
  justify-content: flex-end;
  display: flex;
  position: absolute;
}
*/

#reset {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 4rem;
  padding: 10px;
}
